/* this is basically styling for the whole body and making sure everything looks good */
body { 
    padding-left: 20px;
    padding-right:20px;
    padding-top: 20px;
    background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-903ea3cb.jpg");
}